<!DOCTYPE html>
<html>
<head>
	<title>Let's Get Started</title>

	<style type="text/css">
		body{
			background-image:url('feeling.jpg');
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;
			background-size: cover;
		}

		button {
			width: 200px;
    		background-color: black;
    		color: white;
    		font-size: 16px;
    		border-radius: 30px;
    		border: none;
			padding: 15px 30px;
			margin: 15px 0px;
    		text-align: center;
    		box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    		bottom: 30px;
    		left: calc(50% - 100px);
		}

		button:hover {
		    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
		}

		#main{
			background-color:moccasin;
			opacity: 0.8;
			border-style: solid;
			border-color: black;
			border-radius: 20px;
			display: block;
			margin: 8% 20%;
			height: 80%;
		}

		#mainText{
			opacity: 1;
   			font-size: 45px;
    		letter-spacing: 2px;
    		text-align: center;
    		font-family: century gothic;
		}
		
		#mainTextArea{
			width: 75%;
			height: 15%;
    		box-sizing: border-box;
    		border: 2px solid black;
    		border-radius: 40px;
			font-size: 20px;
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    		padding: 12px 20px;
    		-webkit-transition: width 0.4s ease-in-out;
    		transition: width 0.4s ease-in-out;
		}

</style>
</head>
<body>
	<div id="main" align="center">
		<% console.log(userInfo.Email + " " + userInfo.Emergency+" " + userInfo.Phone)%>
		<h1> Hello  </h1>
		<form method="POST" action="/text">
			<p id = "mainText"> <b>How are you feeling today? </b></p>
			<textarea id = "mainTextArea" rows="7" cols="60" name="feeling"> </textarea>
			<input type="hidden" name="email" value=<%=userInfo.Email %>>
			<input type="hidden" name="emergency" value=<%=userInfo.Emergency %>>
			<input type="hidden" name="phone" value=<%=userInfo.Phone %>>
			<input type="hidden" name="userType" value=<%=userInfo.userType %>>
			<br>
			<button type="submit" name="submit" id="submitbutton"> Start</button>
		</form>
	</div>

<script type="text/javascript">


</script>

</body>
</html>


