<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <style>
      
      #map {
        height: 80%;
        width: 80%;
        margin: auto;
      }
     
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map">
    </div>
    
    <form method="post" action="/sendemail">
        <input type="hidden" name="lat" value="" id="lat">
        <input type="hidden" name="lon" value="" id="lon">
        <button type="submit">E-Mail</button>
    </form>

    <script>
      var map, infoWindow;
      var to_send_lat =0;
      var to_send_lon=0;
      
    
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 18
        });

        infoWindow = new google.maps.InfoWindow;
   
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lon: position.coords.longitude,
            };

            document.getElementById("lat").value = pos.lat;
            document.getElementById("lon").value = pos.lon;

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found');
            infoWindow.open(map);
            map.setCenter(pos);
      
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } 
        else {
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

      
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoiPyzJ0CShH_u8uSyZt-CqA_nok706Lc&callback=initMap"></script>
  </body>
</html>